apiVersion: apps/v1
kind: Deployment
metadata:
  name: urlmanager-app
  labels:
    app: urlmanager-app
    full-app: urlmanager
spec:
  replicas: 2
  selector:
    matchLabels:
      app: urlmanager-app
  template:
    metadata:
      creationTimestamp: "2025-11-05T10:00:00Z"
      labels:
        app: urlmanager-app
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - urlmanager-app
              topologyKey: kubernetes.io/hostname
      containers:
      - name: urlmanager-app
        securityContext:
          allowPrivilegeEscalation: false
        image: ghcr.io/vedw/urlmanager:0.0.19
        ports:
        - containerPort: 5000
        env:
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: pg-urlmanager-app
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: pg-urlmanager-app
              key: password
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: pg-urlmanager-app
              key: dbname
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: pg-urlmanager-app
              key: host
        - name: MY_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: IMAGE_TAG
          value: 0.0.19
---
apiVersion: v1
kind: Service
metadata:
  name: urlmanager-app-service
  labels:
    app: urlmanager-app
    full-app: urlmanager
spec:
  selector:
    app: urlmanager-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: LoadBalancer
